* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*. { font-family: 'Roboto', sans-serif; font-weight: 100; }*/

body {
    font-family: 'Roboto', sans-serif; font-weight: 100;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif; font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
        font-family: 'Roboto', sans-serif; font-weight: 300;

    color: #34495e;
}

p{
            font-family: 'Roboto', sans-serif; font-weight: 100;

}

table {
  width: 100%
}
.pure-img-responsive {
    width: 100%;
    height: auto;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.l-width {
    max-width: 980px;
    margin: 0 auto;
}

.is-center {
    text-align: center;
}

.content {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
/*text-align: center;*/
text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
    background: transparent url("/resources/logocircles.png") no-repeat;
    /*0 0 no-repeat fixed;*/
    background-size: contain;

}

.home-menu .pure-menu-heading a {
  color: white;
  font-weight: 400;
  font-size: 120%;
  
}



.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.banner-design {
  background: transparent url("/resources/woodbackground.png") 0 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.banner-design {
  /*text-align: left;*/
  /*font-size: 2em;*/
  color: white;
  font-weight: 100;
  /*text-shadow: 0 1px 1px black;*/
  text-shadow: 1px 1px 1px black;

}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url("http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg") 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

    height: 100vh;
    width: 100%;
    margin-bottom: 3em;
    display: table;

      /*background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.banner-head-wrapper {
    display: table-cell;
    vertical-align: middle;
margin-bottom: 0;
}
.banner-head-img {
      max-width: 80%;
      /*max-height: 50%;*/

}
.banner-head-intro {
  text-align: left;
  font-size: 2em;
  color: white;
  font-weight: 100;
  text-shadow: 1px 1px 1px black;
}
.banner-head {
  text-align: left;
  font-size: 2em;
  color: white;
  font-weight: 300;
  text-shadow: 1px 1px 1px black;
}
.banner-subhead {
  text-align: left;
  font-size: 2em;
  color: white;
  font-weight: 100;
  /*text-shadow: 0 1px 1px black;*/
  text-shadow: 1px 1px 1px black;

}



/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.content-wrapper-other {
    /*position: absolute;*/

    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.footer-head {
    color: white;
}

footer a {
  color: white;
}

footer a:visited {
    color: gray;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead-ribbon {
    color: white;
}
    .content-subhead-ribbon i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;

}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */

 @media (max-width: 48em) {
  html, button, input, select, textarea,
  .pure-g [class *= "pure-u"] {
      /* Set your content font stack here: */
      font-family: 'Roboto', sans-serif; font-weight: 400;
  }

body {
    font-family: 'Roboto', sans-serif; font-weight: 400;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
          font-family: 'Roboto', sans-serif; font-weight: 400;

      color: #34495e;
  }

  p{
              font-family: 'Roboto', sans-serif; font-weight: 400;

}

}
@media (min-width: 48em) {
.banner-head {
    font-size: 3em;
}

    /* We increase the body font size */
    body {
        font-size: 16px;

    }
    /* We want to give the content area some more padding */
    .content {
        /*padding: 1em;*/
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }

    .banner-head {
        font-size: 4em;
    }

}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    /*.banner-head {
        font-size: 4em;
    }*/

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        /*height: 400px;*/
    }
    .banner-head {
        /*font-size: 3em;*/
    }
}
