    <div class="content">


      <div class=" pure-g l-width">
        <div class="l-box-lrg pure-u-1 ">
          <h2 class="content-head is-center">About</h2>

        </div>

        <div class="is-center l-box-lrg pure-u-1">
          <h3>The Team</h3>
          <p>PRISM boasts a wide variety of employees, from inventors to product designers to even

            chemists and physicians. We strive to enrich the lives of people from all walks of life, so

            it would make sense to include all sorts of people on our team! </p>
        </div>
          <div class="l-box-lrg pure-u-1 pure-u-md-1-2">
            <img  class="pure-img-responsive" src="http://classes.dma.ucla.edu/Fall14/161/content/students/gilbert_lim.jpg">

            <div class="l-box"><h3 class="is-center">Gilbert Lim</h4><p>Gilbert is a Design Media Arts major at UCLA. For this project, he focused mainly on the graphics of the

              website and the content, attempting to give the site a modern, appealing look with visuals while also

              attracting potential customers through convincing words.</p></div>
          </div>

          <div class="pure-u-1 pure-u-md-1-2 l-box-lrg">
            <img class="pure-img-responsive" src="http://classes.dma.ucla.edu/Fall14/161/content/students/zhixuan_lai.jpg">

            <div class="l-box"><h3 class="is-center">Zhixuan Lai</h4><p>Andrew is a Computer Science major at UCLA. For this project, he worked a lot on the coding of the

              website in order to create a seamless, smooth experience for web visitors and give the site a

              professional look, allowing for effortless website navigation.</p></div>
          </div>
          <div class="l-box pure-u-1 is-center">
            <h3>Contact Us</h3>
            <p>
              In town? Come by one of our offices and we’ll make you a coffee.
            </p>
          </div>
          <div class="l-box pure-u-1  pure-u-md-1-2">

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3306.965870445228!2d-118.49774500000002!3d34.019087!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cf5748de0d%3A0x66125b85998638f9!2s1207+4th+St%2C+Santa+Monica%2C+CA+90404!5e0!3m2!1sen!2sus!4v1416851179384" width="400" height="250" frameborder="0" style="border:0"></iframe>
          </div>
          <div class="l-box pure-u-1  pure-u-md-1-2">
            <h3>Location</h3>
            <p>
              1207 4th St #350<br/>
              Santa Monica, CA 90401<br/>
              310.458.3700
                        </p>

          </div>
        </div>




      </div>
