
<div class="content">

	<div class="pure-g l-width">
		<div class="l-box-lrg pure-u-1 ">
			<h2 class="content-head is-center">Sign up for the latest updates.</h2>
		</div>


		<div class="l-box-lrg pure-u-1-2 pure-u-md-2-5">
			<img class="pure-img" src="resources/tablet-home.png">
		</div>
		<div class="l-box-lrg pure-u-1-2 pure-u-md-3-5">
			<form class="pure-form pure-form-stacked">
				<fieldset>
					<label for="name">Name</label>
					<input id="name" type="text" placeholder="Your Name">
					<label for="email">Email</label>
					<input id="email" type="email" placeholder="Your Email">
					<button type="submit" class="pure-button">Keep me informed</button>
				</fieldset>
			</form>
		</div>

	</div>
</div>
