
<div class="content">

	<div class="pure-g">
		<div class="l-box-lrg pure-u-1 ">
			<h2 class="content-head is-center">Design</h2>
		</div>
		<div class="l-width l-box-lrg">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
				<h3 class="content-subhead"><i class="fa fa-rocket"></i>Your content, right at your ﬁngertips.</h3>
				<p>The LCD layer is now closer to your eyes (and your ﬁngers), so when you touch the screen it feels as if you’re touching your content. And we’ve improved the sensitivity of the screen, so it tracks your finger even more accurately, especially when you make quick gestures. Which means everything you do — playing games, surﬁng the web, enjoying photos and videos — becomes more personal, immediate, and immersive.</p>
				<h3 class="content-subhead"><i class="fa fa-mobile"></i>The lowest reﬂectance of any tablet.</h3>
				<p>iPad Air 2 features a custom-designed antireflective coating that reduces glare by 56 percent, making it the least reﬂective tablet in the world. In virtually any kind of environment — oﬃces, classrooms, outdoors — everything is clearer and more readable.</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
				<img class="pure-img-responsive" src="resources/tablet-home.png">
			</div>
		</div>

	</div>
	<div class="ribbon pure-g">
		<div class="l-box pure-u-1">
			<h2 class="is-center content-head content-head-ribbon ">Ingenuity makes it thin. Aluminum makes it strong.</h2>
		</div>
		<div class="l-width l-box-lrg">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
				<img class="pure-img-responsive" src="resources/tablet-landscape.png">
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
				<p>When it was introduced four years ago, the original iPad set the standard for thinness and lightness. Since then, iPad has become even thinner and lighter. But thanks to its durable aluminum unibody, iPad Air 2 doesn’t sacriﬁce strength in the pursuit of thinness. From the moment you pick it up, you feel how sturdy and rigid it is.</p>
			</div>
		</div>

	</div>

	</div>
