
<div class="content">

	<div class="pure-g">
		<div class="l-box-lrg pure-u-1 ">
			<h2 class="content-head is-center">Design</h2>
		</div>
		<div class="l-width l-box-lrg" style="  display: table;">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-3-5" style="  display: table-cell;">
				<h3 class="content-subhead"><i class="fa fa-rocket"></i>Forget the glass from the past.</h3>
				<p>The GlassPad features a custom-designed, state of the art glass material which is

					shatterproof, waterproof, and fireproof while maintaining a smooth, sensitive surface to

					ensure a user-friendly experience. The glass is treated to be anti-glare, anti-fingerprint,

					and smudge-free so that users will enjoy a clean, smooth tablet at all times for easy

					readability, clear displays, and easy finger maneuverability. The tablet is also made with

					comfort in mind.  The glass will maintain a steady, safe temperature at all times so

					nobody will wake up on a chilly morning with an ice-cold tablet. The glass is also

					textured to be softer than any other glass in existence.</p>
				<h3 class="content-subhead"><i class="fa fa-mobile"></i>Only the best will make the cut.</h3>
				<p>While other companies settle for subpar manufacturing, the GlassPad is created only

					through the finest means possible; meaning what goes into your hands is crafted to

					near perfection. The material itself is impressive, but coupled with our high tech cutting

					and manufacturing equipment (including a laser cutter that cuts so precisely and so

					deeply that the government has taken an interest), customers will love the seamless

					and professional look of their GlassPads and will find satisfaction in knowing that

					nothing but the best is used to create them.</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-5"  style="  display: table-cell; vertical-align:middle;">
				<img class="pure-img-responsive" style="    vertical-align: middle;" src="resources/tablet-home.png">
			</div>
		</div>

	</div>
	<div class="banner-design pure-g">
		<div class="l-box pure-u-1">
			<h2 class="is-center content-head content-head-ribbon ">On the go.</h2>
		</div>
		<div class="l-width l-box-lrg">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
				<img class="pure-img-responsive" src="resources/designtablet.png">
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
				<p>At only 0.15 inches, the GlassPad is thinner than almost any other mobile device out

					there. Combined with its durability and resistance to scratching and smudging, the tablet

					will easily travel anywhere, with anyone, at any time. Its lightweight design also adds to

					the easy movability, so feel free to chat with a friend, play a game, or read a book no

					matter where you are.</p>
			</div>
		</div>

	</div>

	</div>
