
<div class="content">

  <div class="pure-g ribbon">
    <div class="is-center l-box-lrg pure-u-1 ">
      <h2 class="content-head-ribbon is-center"><br>History</h2>
    </div>

    <div class="l-width l-box-lrg pure-g">

      <div class="l-box pure-u-1 pure-u-md-1-2">
        <h3 class="content-subhead-ribbon">Humble beginnings</h3>
        <p>
          In 2076, _______ began as a small company hoping to take advantage of the recent technological boom to create a company that provided quailty, affordable goods that are easy to use. With only five workers and almost no resources, we struggled every day to make ends meet, but continually bettered ourselves and our products to give customers the best that we could possibly offer. Through this dedication to quality and improvement, _______ has grown to become the company that it is today: the 7th largest company in the world! Currently based in Seattle, Washington, we still strive for quality, affordability, and usability, just as we always have. We continue to reach for improvement and keep our customers in mind with everything that we do.

        </p>
      </div>

      <div class="l-box pure-u-1 pure-u-md-1-2">

        <h3 class="content-subhead-ribbon">New Technology</h3>
        <p>
          This year, 2112, we have developed something completely new: the ______. As a completely glass tablet, this exciting innovation will allow users to experience the world like never before. The tablet will give customers an interactive way to look at everything, from scanning and identifying pretty much anything to incorporating the see-through technology to have a virtual reality experience through the screen. ______ has always strived for excellence and pursued customer satisfaction above all else. We truly believe that this product can change the way that users live and enrich their lives in ways that were previously impossible.                </p>
        </div>
      </div>

    </div>
</div>
