    <div class="content">
      <div class="banner ">
        <div class="pure-g banner-head-wrapper">
        <div class="l-width l-box-lrg">
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive banner-head-img" src="resources/tablet-home.png">
          </div>
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
          <h1 class="banner-head-intro">
      Introducing
            </h1>
            <h1 class="banner-head">
        The GlassPad
              </h1>

<br><br><br>

            <h2 class="banner-subhead">Shattering you expectations</h2>
        </div>

      </div>
    </div>



</div>
      <!-- <div class="item"><img class="pure-img-responsive" src="resources/glass-home-0.png" ></div> -->

      <!-- <div class="splash-owl">
          <div >
          </div>
      </div> -->

    </div>
