
<div class="content">

	<div class="pure-g l-box-lrg">
		<div class="is-center pure-u-1 ">
			<h2 class="content-head is-center">Specification</h2>
		</div>
	</div>

		<div class="pure-g">

		<div class="l-width l-box-lrg pure-u-1 ">
			<img class="pure-img-responsive" src="resources/specs.png">
		</div>
	</div>

		<div class="pure-g">

		<div class="l-width l-box-lrg pure-u-1">
			<table class="pure-table pure-table-horizontal">
				<tbody>
					<tr>
						<td>Display</td>
						<td>10 inch Selflit Multi-Touch Transparent Display <br/>4200-by-3500 resolution at 900 pixels per inch</td>
					</tr>

					<tr>
						<td>Chip</td>
						<td>Insanely fast chip</td>
					</tr>
					<tr>
						<td>Cameras</td>
						<td>Front-facing camera: 13 MP photos, 4K UltraHD video Recording, light-field technology
							<br>Back-facing camera: 56 MP photos, 16K UltraUltraHD video Recording, light-field technology</td>
						</tr>
						<tr>
							<td>Wireless</td>
							<td>9G mobile network with 100Gbits/s downstream</td>
						</tr>
						<tr>
							<td>Power and Battery</td>
							<td>Up to 40 hours of surfing the web</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>


	</div>
